html {
    height: 100%;
    margin: 0;
    font-size: 16px;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/wow.png') bottom center no-repeat;
    background-size: cover;
    font-size: 1em;
}

.centered {
  padding: 0 3.125em;
  font-family:'Montserrat', sans-serif;
  background: #f16059;
}

h1 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}

/* ----------- Tablets larger than 768px wide ----------- */
@media screen and (min-width: 786px) {
  h1 {
    font-size: 3em;
  }
}
 /* ----------- Monitors larger than 1200px wide ----------- */
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 4em;
  }
}
